src/main/mule/demo1208.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="demo1208-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="demo1208-config" api="demo1208.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="5bb3a011-632b-475f-80ff-c138cb38113f" >
		<db:my-sql-connection host="junction.proxy.rlwy.net" port="42750" user="root" password="AEHeGMkriZBWGdJFFbcDfUTsJtuyCWIs" database="railway" />
	</db:config>
	<flow name="demo1208-main">
        <http:listener config-ref="demo1208-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="demo1208-config" />
		<error-handler ref="global-error-handler" />
    </flow>
    <flow name="demo1208-console">
        <http:listener config-ref="demo1208-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="demo1208-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\update-employee:application\xml:demo1208-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  response: {
    status: "200",
    message: "Success"
  }
} as Object {encoding: "UTF-8", mediaType: "application/xml"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\delete-employee\(employeeID)\(employeeName):demo1208-config">
        <ee:transform doc:name="Transform Message">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: 200,
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="employeeID"><![CDATA[attributes.uriParams.'employeeID']]></ee:set-variable>
				<ee:set-variable variableName="Payload" ><![CDATA[//attributes.uriParams.'employeeName'
%dw 2.0
output application/json
---
{
  status: 200,
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\delete-employee\(employeeID)\(employeeName):demo1208-config" />
    </flow>
    <flow name="get:\get-employee:demo1208-config">
        <db:select doc:name="Select" doc:id="ea6b0cf7-2eba-4753-a65d-ee5d3f30b2c1" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM emp_profile]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(emp, index) -> {
	"employeeName": emp.EMP_NAME,
	"phone": emp.EMP_PHONE,
	"email": emp.EMP_EMAIL,
	"skill": emp.EMP_SKILL,
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\create-employee:application\json:demo1208-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 200,
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
